.navbar-default{
    background-color: #A1D2CE;
    font-size: 16px;
    border: 0;
    border-radius: 0px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand > a{
    color: #5497A7;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a{
    color: #50858B;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
}
img{
    width: 100%;
    height: auto;
}
.h1{
    text-align: center;
    font-size: 50px;
    color: #78CAD2;
    font-weight: bold;
}
.body{
    text-align: center;
}
.info{
    transform: translateY(50%)
}
.track{
    text-align: left;
}
form{
    text-align: center;
    margin-top: 75px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-bottom: 10px;
}
