<!DOCTYPE html>

<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/custom.css">

    {% block head %}
    <title> {% block title %}{% endblock %} ISS World Tour</title>
    {% endblock %}
  </head>

  <body>    
    {% block navbar %}
    <nav class="navbar navbar-default">
      <!-- NAVBAR-FIXED-TOP -->
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" >ISS World Tour</a>
	</div>
	<div class="nav navbar-nav">
	  <ul class="nav navbar-nav">
	    <li><a href="track">Tracking</a></li>
	    <li><a href="info">Info</a></li>
	  </ul>
	</div>
	
	<ul class="nav navbar-nav navbar-right">
	  <!-- REGISTER-AND-LOGIN-ICONS -->
	  {% if not SESSION %}
	  <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	  <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  {% endif %}
	  <!-- ACCOUNT-AND-LOGOUT-ICONS -->
	  {% if SESSION %}
	  <li><a href="account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
	  <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	  {% endif %}
	  <!-- REFRESH -->
	  <li><a href="update"><span class="glyphicon glyphicon-refresh"></span> </a></li>
	</ul>
      </div>
    </nav>
    {% endblock %}

    <!-- PAGE-CONTENTS -->
    <div class = "container-fluid">
      <div class = "body">
      {% block body %}
      {% endblock %}
      </div>
    </div>
  </body>
  
  <footer class = "footer">
    <div class = "container">
      {% block footer %}
      <span class = "text-muted">&copy; copyright 2099 by BooStradley</span>
      {% endblock %}
    </div>
  </footer>

</html>
